@{
    ViewData["Title"] = "Reserva Efetuada!";
}
<div class="alert alert-success text-center">
    <h2 class="alert-heading">Reserva Confirmada!</h2>
    <p>Sua reserva foi efetuada com sucesso. Em breve você receberá os detalhes por e-mail.</p>
    <hr>
    <a asp-controller="Home" asp-action="Index" class="btn btn-success">Voltar para a Página Inicial</a>
</div>